<div class='col-md-8 col-md-offset-2'>
  <h3 class='text-center'>What are your food allergies and aversions?</h3>
  <br>
  <%= form_for @customer, url: {action: 'update_allergies'} do |f| %>
    <div class="row">
      <% @allergens.each do |allergen| %>
      <div class="col-md-4">
        <%= check_box_tag 'allergen_ids[]', allergen.id, @customer.allergen_ids.include?(allergen.id) %>
        <%= f.label allergen %>
      </div>
      <% end %>
    </div>

    <div class="row">
      <%= f.label :other_allergy %>
      <%= text_area_tag :other_allergy, @other_allergy.description, {class: 'form-control', placeholder: "Describe your other allergy"} %>
    </div>

    <div class="row">
      <br>
      <div class="col-md-12 text-center">
        <%= f.submit "Save allergies", class: 'btn btn-primary' %>
        <%= link_to "Cancel", root_path, class: 'btn btn-warning' %>
      </div>
    </div>
  <% end %>
</div>

