<% if params[:mode] == 'signup' %>
  <!-- Services Section -->
  <section id="services" style="padding: 10px 0 0 0;">
      <div class="container">
          <div class="row text-center">
              <div class="col-md-1">
              </div>
              <div class="col-md-10">
                  <h4 class="service-heading" style="color: #777;"><span class="navpreferences gopreferences"> Choose Preferences </span>&nbsp;&nbsp;▸&nbsp;&nbsp;<span class="navday goday">Choose Delivery Time</span> &nbsp;&nbsp;▸&nbsp;&nbsp; <span style="color: #fed136;">Allergies and Aversions </span>&nbsp;&nbsp;▸&nbsp;&nbsp; Check Out
                  </h4>
              </div>
              <div class="col-md-1">
              </div>
          </div>
      </div>
  </section>
<% end %>

<div class='col-md-8 col-md-offset-2'>
  <h3 class='text-center'>What are your food allergies and aversions?</h3>
  <br>
  <%= form_for @customer, url: {action: 'update_allergies'} do |f| %>
    <div class="row">
      <% @allergens.each do |allergen| %>
      <div class="col-md-4">
        <%= check_box_tag 'allergen_ids[]', allergen.id, @customer.allergen_ids.include?(allergen.id) %>
        <%= f.label allergen %>
      </div>
      <% end %>
    </div>

    <div class="row">
      <br>
      <div class="col-md-12 text-center">
        <% if params[:mode] == 'signup' %>
          <%= f.submit "Check out", class: 'btn btn-primary' %>
        <% else %>
          <%= f.submit "Save allergies", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

