<h3>Subscription for <b><%= @customer %></b><br></h3>
<p><%= link_to 'Edit customer account', management_edit_customer_path(@customer) %>
</p>



<p> Preferred tracks: 
          
      <% if @preferences.empty? %>
      <em> Unset yet </em>
      <% else %>
          <% @preferences.each do |pref| %>
            <%= pref.track %>,
          <% end %>
        <% end %>
    </p>
    <p> Lunches: 
        <% if @lunches.blank? %> <em>None ordered</em>
        <% else %>
            <% @lunches.each do |lunch| %>
                <%= lunch.capitalize %>,
            <% end %>
            <%= " @ #{@lunch_time}" %>
        <% end %>
      
    </p>

    <p> Dinners: 
        <% if @dinners.blank? %> <em>None ordered</em>
        <% else %>
            <% @dinners.each do |dinner| %>
                <%= dinner.capitalize %>,<% end %> 
                <%= " @ #{@dinner_time}" %>
        <% end %>
    </p>

    <p> Extra Notes:
        <% if @extra_notes.blank? %> <em>No notes</em>
        <% else %>
            <%= @extra_notes %>
        <% end %>
    </p>
    <%= link_to 'Edit subscription', management_edit_subscription_path(@subscription) %>
  </p>

<h3> Delivery address </h3> 
<% if @address %>
  <%= "#{@address.first_name} #{@address.last_name}" %><br>
  <i class="fa fa-phone"></i>
  <% if @address.phone.blank? %>
    <em> Unprovided </em> &nbsp &nbsp
<% else %>
  <%= " #{@address.phone}"  %> &nbsp &nbsp
<% end %>
<i class="fa fa-envelope"></i>
<% if @address.email.blank? %>
    <em> Unprovided </em>
<% else %>
  <%= " #{@address.email}"  %>
<% end %><br><br>
  <%= "#{@address.street_address} #{@address.suite}" %><br>
  <%= "#{@address.city} #{@address.state} #{@address.zip}" %><br>

<% else %>
  <em> No address defined </em><br><br>

<% end %>
<br/><br/>

<h3> Quick management </h3>

<%= form_for @subscription, url: management_update_meal_path, html: {method: "post", class: "form-horizontal", role: "form"} do |f| %>
<div class="form-group">
  <%= hidden_field_tag(:id, @subscription.id) %>
  <%= label_tag(:upcoming_meal, "Upcoming meal:", {class: "col-sm-2 control-label", for: "q"}) %>
  <div class="col-sm-10">
      <div class="input-group">
        <%= f.text_field(:upcoming_meal, {class: "form-control", placeholder: "undefined"}) %>
        <span class="input-group-btn">
          <%= f.submit("Update", class: "btn btn-primary") %>
        </span>
      </div>
    </div>
</div>
<% end %>

<br/>
   
<%= form_for @subscription, url: management_update_payment_status_path, html: {method: "post", class: "form-horizontal", role: "form"} do |f| %>
  <div class="form-group">
    <%= hidden_field_tag(:id, @subscription.id) %>
      <%= label_tag(:upcoming_meal, "Payment Status:", {class: "col-sm-2 control-label", for: "q"}) %>
      <div class="col-sm-10">
         <div class="input-group">
            <% payment_methods = ["Paid","Unpaid"] %> 
        <%= f.select(:payment_status,payment_methods.map {|s| [s, s]},{},{ :class => 'form-control' }) %>
             <span class="input-group-btn">
              <%= f.submit("Update", class: "btn btn-primary") %>
            </span>
          </div>
      </div>
  </div>
<% end %>


