<h3>Subscription for <b><%= @customer %></b><br></h3>
<p><%= link_to 'Edit customer account', management_edit_customer_path(@customer) %>
</p>



  <p> Preferred tracks: 
            
  <% if @preferences.empty? %>
  <em> Unset yet </em>
  <% else %>
    <% @preferences.each do |pref| %>
      <%= pref.track %>,
    <% end %>
  <% end %>
  </p>
  <p> Lunches: 
      <% if @lunches.blank? %> <em>None ordered</em>
      <% else %>
          <% @lunches.each do |lunch| %>
              <%= lunch.capitalize %>,
          <% end %>
          <%= " @ #{@lunch_time}" %>
      <% end %>
    
  </p>

  <p> Dinners: 
      <% if @dinners.blank? %> <em>None ordered</em>
      <% else %>
          <% @dinners.each do |dinner| %>
              <%= dinner.capitalize %>,<% end %> 
              <%= " @ #{@dinner_time}" %>
      <% end %>
  </p>

  <p> Extra Notes:
      <% if @extra_notes.blank? %> <em>No notes</em>
      <% else %>
          <%= @extra_notes %>
      <% end %>
  </p>
  <%= link_to 'Edit subscription', management_edit_subscription_path(@subscription) %>


<h3> Delivery address </h3> 
<% if @address %>
  <%= "#{@address.first_name} #{@address.last_name}" %><br>
  <i class="fa fa-phone"></i>
  <% if @address.phone.blank? %>
    <em> Unprovided </em> &nbsp; &nbsp;
<% else %>
  <%= " #{@address.phone}"  %> &nbsp; &nbsp;
<% end %>
<i class="fa fa-envelope"></i>
<% if @address.email.blank? %>
    <em> Unprovided </em>
<% else %>
  <%= " #{@address.email}"  %>
<% end %><br><br>
  <%= "#{@address.street_address} #{@address.suite}" %><br>
  <%= "#{@address.city} #{@address.state} #{@address.zip}" %><br>

<% else %>
  <em> No address defined </em><br><br>

<% end %>
<br/><br/>

<h3> Delivered meals </h3>
<% if @delivered_meals.empty? %>
<p> No meal has been delivered </p>
<% else %>
<div class='row'>
  <% @delivered_meals.each do |d_meal| %>
    <div class='col-md-3'>
      <%= d_meal %><br>
    </div>
    <div class='col-md-3 '>
      <%= d_meal.delivery_date_string %><br>
    </div>
    <div class='col-md-3'>
      <%= d_meal.meal_type %><br>
    </div>
    <div class='col-md-3'>
      &nbsp;
    </div>
  <% end %>
</div>
<% end %><br>
<%= form_for @delivered_meal, url: management_customer_delivered_meals_path(@customer) do |f|  %>
  <div class='row'>
    <div class='col-md-3'>
      <%= f.text_field :name, class: 'form-control' %><br>
    </div>
    <div class='col-md-3'>
      <%#= f.date_field :delivery_date %>
      <div class='form-group'>
        <div class='input-group date' id='datetimepicker1'>
          <%= f.text_field( :delivery_date, {class: 'form-control', 'data-date-format' => 'YYYY-MM-DD'}) %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <%= f.select(:meal_type, [['lunch','lunch'],['dinner','dinner']]) %>
    </div>
    <div class='col-md-3'>
      <%= f.submit "Add delivered meal", class: 'btn btn-primary' %>
    </div>

  </div>

<% end %>


<h3> Quick management </h3>

<%= form_for @subscription, url: management_update_meal_path, html: {method: "post", class: "form-horizontal", role: "form", id: 'edit_meal_subscription'} do |f| %>
<div class="form-group">
  <%= hidden_field_tag(:id, @subscription.id, id: 'upcoming_meal_id') %>
  <%= label_tag(:upcoming_meal, "Upcoming meal:", {class: "col-sm-2 control-label", for: "subscription_upcoming_meal"}) %>
  <div class="col-sm-10">
      <div class="input-group">
        <%= f.text_field(:upcoming_meal, {class: "form-control", placeholder: "undefined"}) %>
        <span class="input-group-btn">
          <%= f.submit("Update", class: "btn btn-primary") %>
        </span>
      </div>
    </div>
</div>
<% end %>

<br/>
   
<%= form_for @subscription, url: management_update_payment_status_path, html: {method: "post", class: "form-horizontal", role: "form", id: 'edit_payment_status_subscription'} do |f| %>
  <div class="form-group">
    <%= hidden_field_tag(:id, @subscription.id) %>
      <%= label_tag(:upcoming_meal, "Payment Status:", {class: "col-sm-2 control-label", for: "subscription_payment_status"}) %>
      <div class="col-sm-10">
         <div class="input-group">
            <% payment_methods = ["Paid","Unpaid"] %> 
        <%= f.select(:payment_status,payment_methods.map {|s| [s, s]},{},{ :class => 'form-control' }) %>
             <span class="input-group-btn">
              <%= f.submit("Update", class: "btn btn-primary") %>
            </span>
          </div>
      </div>
  </div>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
          pickTime: false,
        });
    });
</script>

