<div class="col-md-12">
  <h2> subscription data </h2>

  <%= form_for @subscription, url: subscription_path(@subscription), method: :patch do |f| %>

  <h3> Preference </h3>
  <div class="section-subheading text-muted" style="margin: 5px 0 30px 0;">Select a foodie track, but feel free to switch your preferences up to 24 hours before the delivery. </div>
  <div class="row">
    <% @tracks.each do |track| %>
      <div class="goarea col-md-4 col-sm-6 portfolio-item">
        <h4><%= check_box_tag('preferences[]', track, @preferences.where(track: track).any? ) %><%= " #{track} " %> &nbsp</h4>
      </div>
    <% end %>
  </div>


  <br>

  <h3> Lunch Delivery </h3>
  <table>
    <tr>
      <% @days.each do |day| %>
        <td>
          <%= check_box_tag('lunch[]', day, @lunches.include?(day) ) %><%= " #{day} " %> &nbsp
        </td>
      <% end %>
    </tr>
  </table><br>
  <%= f.label :lunch_time %>: &nbsp
  <%= f.time_select :lunch_time, {value: @subscription.lunch_time, minute_step: 15, default: {hour: '12', minute: '00'}} %>

  <h3> Dinner Delivery </h3>
  <table>
    <tr>
      <% @days.each do |day| %>
          <td>
          <%= check_box_tag('dinner[]', day, @dinners.include?(day)) %><%= " #{day} " %> &nbsp
          </td>
      <% end %>
    </tr>
  </table><br>
  <%= f.label :dinner_time %>: &nbsp
  <%= f.time_select :dinner_time, {value: @subscription.dinner_time, minute_step: 15, default: {hour: '19', minute: '00'}} %>

  <h4> Extra Notes </h4>
  <%= f.text_area :extra_notes, {size: "60x8", placeholder:"Comments and extra requests"} %>



  

  <br>
  <%= submit_tag "Save changes", {class: 'btn btn-primary'} %>

  <% end %>
</div>