<%= render 'style_edit' %>

<!-- Services Section -->
<section id="services" style="padding: 10px 0 0 0;">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <h4 class="service-heading" style="color: #777;"><span style="color: #fed136;" class="navpreferences gopreferences"> Choose Preferences </span>
                &nbsp;&nbsp;▸&nbsp;&nbsp;<span class="navhealthgoals gohealthgoals">Health Goals</span>
                &nbsp;&nbsp;▸&nbsp;&nbsp;<span class="navallergies goallergies">Allergies and Aversions</span>
                &nbsp;&nbsp;▸&nbsp;&nbsp;<span class="navday goday">Choose Delivery Time</span> 
                &nbsp;&nbsp;▸&nbsp;&nbsp;  Check Out
                </h4>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid Section -->
<%= form_for @subscription, :html => { :role => 'form'} do |f| %>
<section id="portfolio" class="bg-light-gray preferences" style="padding: 50px 0 0 0;">
	<div class="container">    	      
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Choose Preferences</h2>
                <h3 class="section-subheading text-muted" style="margin: 5px 0 30px 0;"> Select one of our classic tracks or choose to <span class="navfollowfriend gofollowfriend"><a href='#'> follow a friend </a></span> or choose a <span class="navhealthgoals gohealthgoals"><a href='#'> health goal </a></span> </h3>                
            </div>
        </div>

        <div class="row">
           	<% @main_tracks.each do |track| %> 
    		  <div class="gohealthgoals col-md-4 col-sm-6 portfolio-item" style="height: 354px;">
                <a class="portfolio-link selecttrack" data-toggle="modal" onclick="select_track(<%= track.id %>);">
                    <div class="portfolio-hover <%= 'portfolio-darkorange-hover' if @preferences.where(track: track).any? %>" id="portfolio_<%= track.id %>">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="<%= track.image %>" class="img-responsive" alt="">
                    <input type="hidden" id="track_<%= track.id %>" name="track[]" value="<%= track %>" class="<%= 'select-track-name' if @preferences.where(track: track).any? %>"/>
                </a>
                <div class="portfolio-caption">
                    <h4><%= " #{track} " %></h4>
                    <p class="text-muted"><%= track.description %></p><a href="<%= ratings_subscriptions_path %>" class="starmargin" style="display: block;font-family: FontAwesome; margin:0 auto; text-decoration: none;"><i class="fa fa-star starclr"></i><i class="fa fa-star starclr"></i><i class="fa fa-star starclr"></i><i class="fa fa-star starclr"></i><i class="fa fa-star-half-full starclr"></i> [182 <i class="fa fa-group"></i>]<br></a>
                </div>
              </div>
			<% end %>
        </div> 
	</div>	       
</section>

<section id="portfolio" class="bg-light-gray followfriend" style="padding: 50px 0 0 0; display: none;">  
    <div class="container">           
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Follow a Friend Track</h2>
                <h3 class="section-subheading text-muted" style="margin: 5px 0 10px 0;"> List of friend's foodie tracks to follow. </h3>
                <h3 class="section-subheading text-muted" style="margin: 5px 0 30px 0;"> <span class="navpreferences gopreferences"><a href='#'> Back to main tracks </a></span> </h3>
            </div>
        </div>

        <div class="row">
            <% @follow_a_friend_tracks.each do |track| %> 
              <div class="gohealthgoals col-md-4 col-sm-6 portfolio-item" style="height: 354px;">
                <a class="portfolio-link selecttrack" data-toggle="modal" onclick="select_track(<%= track.id %>);">
                    <div class="portfolio-hover <%= 'portfolio-darkorange-hover' if @preferences.where(track: track).any? %>" id="portfolio_<%= track.id %>">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="<%= track.image %>" class="img-responsive" alt="">
                    <input type="hidden" id="track_<%= track.id %>" name="track[]" value="<%= track %>" class="<%= 'select-track-name' if @preferences.where(track: track).any? %>"/>
                </a>
                <div class="portfolio-caption">
                    <% c = Customer.joins(subscription: {preferences: :track}).where("tracks.id=?", track.id) %>
                    <h4><%= " #{track} " %></h4>
                    <p class="text-muted"><%= link_to 'Read more', follow_a_friend_subscription_path(@subscription.id, :track_id => track.id), :target => '_blank' %></p>
                    <p class="text-muted"><%= pluralize(c.count, 'person') %> follow this track</p>
                </div>
              </div>
            <% end %>
        </div>
    </div>         
</section>

<section id="portfolio" class="bg-light-gray healthgoals" style="padding: 50px 0 0 0; display: none;">  
    <div class="container">           
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Health Goals</h2>
                <h3 class="section-subheading text-muted" style="margin: 5px 0 10px 0;"> Do you have any health goals? </h3>
                <h3 class="section-subheading text-muted" style="margin: 5px 0 30px 0;"> <span class="navpreferences gopreferences"><a href='#'> Back to main tracks </a></span> </h3>
            </div>
        </div>

        <div class='col-md-8 col-md-offset-2'>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <% if @health_goals %>
                            <%= collection_check_boxes(:customer, :health_goal_ids, @health_goals, :id, :name) do |b| %>
                                <%= b.label(class: "check_box") do %>
                                  <div class="col-md-12">
                                    <%= b.check_box :checked => (@customer_health_goal_ids && @customer_health_goal_ids.include?(b.object.id)) ? 'checked' : '' %>
                                    <%= b.object.name %>
                                  </div>       
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>

            <div class="row text-center" style="padding: 10px 0px 20px;">
                <div class="col-md-3 text-center">
                </div>
                <div class="col-md-6 text-center">
                    <%= button_tag "Next track", {class: 'btn btn-primary', id: 'btn-healthgoal', type: 'button'} %>
                    <%= link_to 'Cancel', root_url, {class: 'btn btn-primary'} %>
                </div>
                <div class="col-md-3 text-center">
                </div>
            </div>           
        </div>
    </div>         
</section>

<section class="bg-light-gray allergies" style="padding: 50px 0 50px 0; display: none;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Allergies and Aversions</h2>
                <h3 class="section-subheading text-muted" style="margin: 5px 0 30px 0;">What are your food allergies and aversions?</h3>
            </div>
        </div>
        <div class='col-md-8 col-md-offset-2'>
            <div class="row">
              <% @allergens.each do |allergen| %>
              <div class="col-md-4">
                <%= check_box_tag 'allergen_ids[]', allergen.id, @subscription.customer.allergen_ids.include?(allergen.id) %>
                <%= f.label allergen %>
              </div>
              <% end %>
            </div>

            <div class="row"><br>
              <%= f.label :other_allergy %>
              <%= text_area_tag :other_allergy, @other_allergy.description, {class: 'form-control', placeholder: "Describe your other allergy"} %>
            </div>

            <div class="row text-center" style="padding: 10px 0px 20px;">
                <div class="col-md-3 text-center">
                </div>
                <div class="col-md-6 text-center">
                    <%= button_tag "Choose delivery time", {class: 'btn btn-primary', id: 'btn-allergies', type: 'button'} %>
                    <%= link_to 'Cancel', root_url, {class: 'btn btn-primary'} %>

                </div>
                <div class="col-md-3 text-center">
                </div>
            </div>           
        </div>
        <div class="col-lg-12 text-center">
        </div>
    </div>
</section>

<section id="portfolio" class="bg-light-gray day" style="padding: 50px 0 50px 0; display: none;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Choose Delivery Time</h2>
                <h3 class="section-subheading text-muted" style="margin: 5px 0 30px 0;">Select which day of the week you'd like your weekly FoodGem Box! <br>Our default times are 12pm and 7pm but you can change it. <br>In our beta, we only allow one selection per week per order. </h3>
            </div>
        </div>
            <div class="row text-center" style="padding: 20px 0 20px 0; ">
                <h3 class="section-subheading text-muted" style="margin: 5px 0 20px 0;">Lunch Delivery</h3>
                <div class="col-md-2 text-center">
                </div>
                <div class="col-md-8 text-center" style="color: #fff;">
                  <% @days.each do |day| %>
                    <a id="fill-spreadsheet" class="gosubmit page-scroll select-day selectday_lunch <%= 'darkorange_lunch' if @lunches.include?(day) %>"><%= " #{day} " %></a>
                  <% end %>
                </div>
                <div class="col-md-2 text-center">
                </div>
            </div>
            <div class="row text-center" style="padding: 10px 0px 5px; ">
                <h3 class="section-subheading text-muted" style="margin: 5px 0 10px 0;">Lunch Time</h3>
                <div class="col-md-3 col-sm-1 col-xs-0 text-center">
                </div>
                <div class="col-md-6 col-sm-10 col-xs-12 text-center">                
                  <%= f.time_select :lunch_time, {value: @subscription.lunch_time, minute_step: 15, ampm: true, default: {hour: '12', minute: '00'}},{ :class => 'form-control-day' } %>                
                </div>
                <div class="col-md-3 col-sm-1 col-xs-0 text-center">
                </div>
            </div>        
                    
            <div class="row text-center" style="padding: 10px 0px 20px; ">
                <h3 class="section-subheading text-muted" style="margin: 5px 0 20px 0;">Dinner Delivery</h3>
                <div class="col-md-2 text-center">
                </div>
                <div class="col-md-8 text-center" style="color: #fff; ">
                  <% @days.each do |day| %>
                    <a id="fill-spreadsheet" class="gosubmit page-scroll select-day selectday_dinner <%= 'darkorange_dinner' if @dinners.include?(day) %>"><%= " #{day} " %></a>
                  <% end %> 
                </div>
                <div class="col-md-2 text-center">
                </div> 
            </div>
            <div class="row text-center" style="padding: 10px 0px 10px; ">
                <h3 class="section-subheading text-muted" style="margin: 5px 0 10px 0;">Dinner Time</h3>
                <div class="col-md-3 col-sm-1 col-xs-0 text-center">
                </div>
                <div class="col-md-6 col-sm-10 col-xs-12 text-center">                
                  <%= f.time_select :dinner_time, {value: @subscription.lunch_time, minute_step: 15, ampm: true, default: {hour: '12', minute: '00'}},{ :class => 'form-control-day' } %>                
                </div>
                <div class="col-md-3 col-sm-1 col-xs-0 text-center">
                </div>
            </div> 


            <div class="row text-center" style="padding: 10px 0px 20px;">
              <h3 class="section-subheading text-muted" style="margin: 5px 0 10px 0;">Extra Notes</h3>
                <div class="col-md-3 col-sm-1 col-xs-0 text-center">
                </div>
                <div class="col-md-6 col-sm-10 col-xs-12 text-center">
            <%= f.text_area :extra_notes, {size: "60x8", placeholder:"Comments and extra requests",:class => 'form-control' } %>
                </div>
                <div class="col-md-3 col-sm-1 col-xs-0 text-center">
                </div>
            </div>

            <div class="row text-center" style="padding: 10px 0px 20px;">
                <div class="col-md-3 text-center">
                </div>
                <div class="col-md-6 text-center">
                    <% if params[:mode] == 'signup' %>
                       <%= submit_tag "Check out", {class: 'btn btn-primary'} %>
                    <% else %>
  				       <%= submit_tag "Save changes", {class: 'btn btn-primary'} %>
                    <% end %>
  					<%= link_to 'Cancel', root_url, {class: 'btn btn-primary'} %>

                </div>
                <div class="col-md-3 text-center">
                </div>
            </div>           
        
        <div class="col-lg-12 text-center">
        </div>
    </div>
</section>
<% end %>

<script>
    var lunch_arr = [],dinner_arr = [],t_names,lunch,lunch_words,lunchslistarr,dinner,dinner_words,dinnerslistarr ;
	$(document).ready(function(){
		t_names = $('.select-track-name').map(function(){
					$(".edit_subscription").append("<input type='hidden' value='"+$(this).val()+"' name='preferences[]' id='hidden_preferences'>" );
             		return $(this).val()
    			  }).get();	
    	lunch =  $(".darkorange_lunch").text();
        lunch_words = lunch;
		lunchslistarr = lunch_words.split('  ');			
		$.each(lunchslistarr,function(i,val){
			$(".edit_subscription").append("<input type='hidden' value='"+$.trim(lunchslistarr[i])+"' name='lunch[]' id='hidden_lunch'>");
      		lunch_arr.push($.trim(lunchslistarr[i]));  
		});
		dinner =  $(".darkorange_dinner").text();
        dinner_words = dinner;
		dinnerslistarr = dinner_words.split('  ');		
		$.each(dinnerslistarr,function(i,val){
			$(".edit_subscription").append("<input type='hidden' value='"+$.trim(dinnerslistarr[i])+"' name='dinner[]' id='hidden_dinner'>");
      		dinner_arr.push($.trim(dinnerslistarr[i]));  
		});
	});
	
	function select_track(track_id) {
		var portofilio_id = "#portfolio_"+track_id;
		$(portofilio_id).toggleClass('portfolio-darkorange-hover');
		var ttt = "#track_"+track_id;
		$(ttt).toggleClass('select-track-name');
 		$('input[id=hidden_preferences]').remove();
		t_names = $('.select-track-name').map(function(){
 						$(".edit_subscription").append("<input type='hidden' value='"+$(this).val()+"' name='preferences[]' id='hidden_preferences'>" );
        				return $(this).val()
    			  }).get();		
         $(this).children().css('opacity', '100');    
    }

    $( ".gopreferences" ).click(function() {
        showGoPreferences();
        hideGoDay();
        hideGoFollowFriend();
        hideGoAllergies();
        hideGoHealthGoal();
    });

    $( ".gofollowfriend" ).click(function() {
        showGoFollowFriend();
        hideGoPreferences();
        hideGoDay();
        hideGoAllergies;
        hideGoHealthGoal();
    });

    $( ".goallergies" ).click(function() {
        showGoAllergies();
        hideGoPreferences();
        hideGoFollowFriend();
        hideGoDay();
        hideGoHealthGoal();
    });
    
    $( ".goday" ).click(function() {
        showGoDay();
        hideGoPreferences();
        hideGoFollowFriend();
        hideGoAllergies();
        hideGoHealthGoal();
    });
    
    $( ".gohealthgoals" ).click(function() {
        showGoHealthGoal();
        hideGoPreferences();
        hideGoFollowFriend();
        hideGoAllergies();
        hideGoDay();
    });
    
    $( ".gosubmit" ).click(function() {
       //    $(".day").slideToggle();
       //    $(".thankyou").slideToggle();
    });

    $( "#btn-healthgoal").click(function() {
        showGoAllergies()
        hideGoPreferences();
        hideGoFollowFriend();
        hideGoHealthGoal(); 
        hideGoDay();
    }); 

    $( "#btn-allergies").click(function() {
        showGoDay();
        hideGoPreferences();
        hideGoFollowFriend();
        hideGoAllergies(); 
        hideGoHealthGoal(); 
    });       

    $(".selectday_lunch").click(function() {
        $(this).toggleClass('darkorange_lunch');
        var lunch1 =  $(".darkorange_lunch").text();
        var lunch_words1 = lunch1;
		var lunchslistarr1 = lunch_words1.split('  ');	
		var lunch_arr1=[];	
 		$('input[id=hidden_lunch]').remove();
		$.each(lunchslistarr1,function(i,val){
			lunch_arr1.push($.trim(lunchslistarr1[i]));  
 			$(".edit_subscription").append("<input type='hidden' value='"+$.trim(lunchslistarr1[i])+"' name='lunch[]' id='hidden_lunch'>");
		});
    });
    
    $(".selectday_dinner").click(function() {
        $(this).toggleClass('darkorange_dinner');
        var dinner1 =  $(".darkorange_dinner").text();
        var dinner_words1 = dinner1;
		var dinnerslistarr1 = dinner_words1.split('  ');		
		var dinner_arr1 = [];
 		$('input[id=hidden_dinner]').remove();
		$.each(dinnerslistarr1,function(i,val){
 			$(".edit_subscription").append("<input type='hidden' value='"+$.trim(dinnerslistarr1[i])+"' name='dinner[]' id='hidden_dinner'>");
      		dinner_arr1.push($.trim(dinnerslistarr1[i]));  
		});
    });

    function getURLParameter(url, name) {
	    return (RegExp(name + '=' + '(.+?)(&|$)').exec(url)||[,null])[1];
	}

    function showGoPreferences(){
        $(".preferences").slideDown();        
        $(".navpreferences").css('color', '#fed136');
    }

    function showGoAllergies(){
        $('.allergies').slideDown();
        $(".navallergies").css('color', '#fed136');
    }

    function showGoDay(){        
        $(".day").slideDown();
        $(".navday").css('color', '#fed136');
    }

    function showGoFollowFriend(){        
        $(".followfriend").slideDown();
        $(".navfollowfriend").css('color', '#fed136');
    }

    function showGoHealthGoal(){        
        $(".healthgoals").slideDown();
        $(".navhealthgoals").css('color', '#fed136');
    }

    function hideGoPreferences(){
        $('.preferences').hide();
        $(".navpreferences").css('color', '#777');
    }

    function hideGoAllergies(){
        $('.allergies').hide();
        $('.navallergies').css('color','#777')
    }

    function hideGoDay(){
        $('.day').hide();
        $(".navday").css('color', '#777');
    }

    function hideGoFollowFriend(){
        $('.followfriend').hide();
        $(".navfollowfriend").css('color', '#777');
    }

    function hideGoHealthGoal(){
        $('.healthgoals').hide();
        $(".navhealthgoals").css('color', '#777');
    }
</script>