<style>
.form-control{
    height: 20px; padding: 25px 15px;
    height: 50px; padding: 6px 12px;
}
</style>
 <!-- Services Section -->
    <section id="services" style="padding: 10px 0 0 0;">
        <div style="display:none;"> <iframe src="https://docs.google.com/forms/d/1BppgbmHPvFqTJImrhVbKEpswRGvrjOifX1UnlhymWt0/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe></div>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h4 class="service-heading" style="color: #777;"><span class="navpreferences"> Choose Preferences </span>&nbsp;&#9656;&nbsp;<span class="navarea goarea">Choose Area</span>&nbsp;&nbsp;&#9656;&nbsp;&nbsp;<span class="navday goday"> Choose Delivery Time </span>&nbsp;&nbsp;&#9656;&nbsp;&nbsp;<span class="navday goday" style="color: #fed136;" > Check Out</span> </h4>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </section>

<div style="display: none;">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="YJZS75JLTZYKG">
<input type="image" id="paypalclick"  src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="T7XY5MZCJVC2C">
<input type="image" id="paypal15" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="KBUX3WWYXGA8W">
<input type="image" id="paypal15tax"  src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="4CERPQNMMQ5NN">
<input type="image" id="paypalbetatrial" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="E5UDUBDUZWEF6">
<input type="image" id="paypal10trial"  src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form> 
<!--
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="9UX5FB7ZSJLWN">
<input type="image" id="paypalclick" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>-->
</div>
<!--

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" >
<input type="hidden" name="cmd" value="_s-xclick" style="width: 100%;
display: block;
margin-top: .35em;
padding: .35em;
background: #fff;
border: solid 1px #ccc;
border-radius: .1875em;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.2s;
transition: all 0.2s;
-webkit-font-smoothing: antialiased;">
<input type="hidden" name="hosted_button_id" value="4D23QB2D6KFVU">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
-->

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray preferences" style="padding: 50px 0 0 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Check Out</h2>
                    <h3 class="section-subheading text-muted" style="margin: 5px 0 30px 0;">You can change delivery tracks and delivery address up until 24 hours before the food is delivered. </h3>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate="">
                        <div class="row">
                            <div class="col-md-4" style="font-size: 16px; line-height: 1.5;">
                                <div class="col-md-12"><h3> Order Summary</h3></div>
                                <div class="fa-stack fa-5x" style="margin: 0 auto; width: 220px;">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </div><br/><br/>
                                <!-- FoodGem Package Subscription Order<br/>-->
                                <div class="normal">
                               	 <div class="col-md-6">FoodGem Box<br/>
                               	 </div>
                                 <div class="col-md-2"><strong>$15.00</strong>
                                 </div>
                                  <div class="col-md-4"> </div>

                                  <div class="col-md-6">Tax</div>
                                 <div class="col-md-2"><strong>Included</strong></div>
                                  <div class="col-md-4"></div>

                                  <div class="col-md-6">Default Tip</div>
                                 <div class="col-md-2"><strong>Included</strong></div>
                                  <div class="col-md-4"></div>

                                  <div class="col-md-6" style="margin-top: 10px;"><strong>Total<strong></div>
                                 <div class="col-md-2" style="margin-top: 10px;"><strong>$15.00</strong></div>
                                  <div class="col-md-4"></div>
                                </div>


                                <div class="discount" style="display:none;">
                                <div class="col-md-6">FoodGem Box<br/></div>
                                 <div class="col-md-2" style="text-decoration: line-through;"><strong>$15.00</strong></div>
                                  <div class="col-md-4"></div>
                                  <div class="col-md-6">Discount<br/></div>
                                 <div class="col-md-2"><strong>$10.00</strong></div>
                                  <div class="col-md-4"></div>
                                  <div class="col-md-6">Tax</div>
                                 <div class="col-md-2"><strong>Included</strong></div>
                                  <div class="col-md-4"></div>

                                  <div class="col-md-6">Default Tip</div>
                                 <div class="col-md-2"><strong>Included</strong></div>
                                  <div class="col-md-4"></div>

                                  <div class="col-md-6" style="margin-top: 10px;"><strong>Total<strong></div>
                                 <div class="col-md-2" style="margin-top: 10px;"><strong>$10.00</strong></div>
                                  <div class="col-md-4"></div>
                                </div>
								<br/>

                                  <div class="col-md-9" style="margin-top: 30px; text-align: right;">
                                  <input type="text" class="form-control" placeholder="Coupon Code" id="name" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
                                  <a id="applycoupon" >Apply</a>
                                   <p class="help-block text-danger"></p>
                                 </div>
                            </div>
                            <div class="col-md-8">
                                <div class="col-md-12"><h3> Delivery Address</h3></div>
                                  <div class="col-md-6">
                                   <input type="text" class="form-control" placeholder="First Name" id="address_first_name" name="address[first_name]" value="<%= @address.first_name %>"  required="" data-validation-required-message="Please enter your name." aria-invalid="false"  >
                                   <p class="help-block text-danger"></p>
                                    
                                 </div>
                                 <div class="col-md-6">
                                   <input type="text" class="form-control" placeholder="Last Name" id="address_last_name" name="address[last_name]" value="<%= @address.last_name %>"  required="" data-validation-required-message="Please enter your name." aria-invalid="false">
                                   <p class="help-block text-danger"></p>
                                 </div>

                                 <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="Street Address" id="address_street_address" name="address[street_address]"  value="<%= @address.street_address %>" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
                                   <p class="help-block text-danger"></p>
                                 </div>

                                 <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Apt" id="address_suite" name="address[suite]"  value="<%= @address.suite %>" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
                                   <p class="help-block text-danger"></p>
                                 </div>


                                 <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="City" id="address_city" name="address[city]"  value="<%= @address.city %>" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
                                   <p class="help-block text-danger"></p>
                                 </div>
                                    

                                 <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="State" id="address_state" name="address[state]" value="<%= @address.state %>"  required="" data-validation-required-message="Please enter your name." aria-invalid="false">
                                   <p class="help-block text-danger"></p>
                                 </div>
                                    

                                 <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="Zip" id="address_zip" name="address[zip]"  value="<%= @address.zip %>" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
                                   <p class="help-block text-danger"></p>
                                 </div>
                                    

                                 <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Phone Number" id="address_phone" name="address[phone]"  value="<%= @address.phone %>" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
                                   <p class="help-block text-danger"></p>
                                 </div>

                                 <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Email" id="address_email" name="address[email]"  value="<%= @address.email %>" required="" data-validation-required-message="Please enter your name." aria-invalid="false">
                                   <p class="help-block text-danger"></p>
                                 </div>
                                    
                                 <div class="col-md-12"><h3> Billing Information</h3></div>
<!--
                                 <div class="col-md-12">
                                    <input type="button" class="form-control" value="@ Credit Card" id="creditcardclick" required="" data-validation-required-message="Please enter your name." aria-invalid="false" style="line-height: .3;">
                                   <p class="help-block text-danger"></p>
                                 </div>
-->
                                 <div class="col-md-12 normal">
                                    <input id="buynow"  type="button" class="form-control" value="@ Paypal" required="" data-validation-required-message="Please enter your name." aria-invalid="false"  style="line-height: .3;">
                                   <p class="help-block text-danger"></p>
                                 </div>

                                 <div class="col-md-12 discount" style="display:none;">
                                    <input id="buypaypalbetatrial"  type="button" class="form-control" value="@ Paypal" required="" data-validation-required-message="Please enter your name." aria-invalid="false"  style="line-height: .3;">
                                   <p class="help-block text-danger"></p>
                                 </div>



<!--

                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required="" data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required="" data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required="" data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>-->
                            <div class="col-lg-12 text-right">
                                <div id="success"></div>
<!--                                <button type="submit" class="btn btn-xl">BUY NOW</button>-->
                            </div>
                        </div>
                    </form>
                </div>

               
                <div class="col-md-8 portfolio-item">

                    <!-- Payment start-->
                    <div class="right-content">
    <div class="default">

                </div>
            </div>

        </div>
    </section>



    <section id="portfolio" class="bg-light-gray day" style="padding: 50px 0 50px 0; display: none;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Choose Delivery Time</h2>
                    <h3 class="section-subheading text-muted" style="margin: 5px 0 30px 0;">Select which day of the week you'd like your weekly FoodGem Box! <br/>Our default times are 12pm and 7pm but you can change it. </h3>
                </div>
            </div>
            <div class="row text-center" style="padding: 20px 0 50px 0; ">
                <h3 class="section-subheading text-muted" style="margin: 5px 0 30px 0;">Lunch Delivery</h3>
                <div class="col-md-2 text-center">
                </div>
                <div class="col-md-8 text-center" style="color: #fff;">
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Mon</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Tue</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Wed</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Thu</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Fri</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Sat</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Sun</a>
                </div>
                <div class="col-md-2 text-center">
                </div>
            </div>

            <div class="row text-center" style="padding: 20px 0 50px 0; ">
                <h3 class="section-subheading text-muted" style="margin: 5px 0 30px 0;">Dinner Delivery</h3>
                <div class="col-md-2 text-center">
                </div>
                <div class="col-md-8 text-center" style="color: #fff;">
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Mon</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Tue</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Wed</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Thu</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Fri</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Sat</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Sun</a>
                </div>
                <div class="col-md-2 text-center">
                </div>
            </div>

            <div class="row text-center" style="padding-bottom: 40px;">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
<!--
                    <form class="form-wrapper cf">
                        <h2 class="section-heading">Book Lunch $7 ($15 value)</h2>
                        <input type="text" placeholder="What time? Default is 12PM" required="" >
                        <button type="submit" class="selectday">Book Lunch</button>

                        <h2 class="section-heading">Book Lunch $14 ($30 value)</h2>
                        <input type="text" placeholder="What time? Default is 12PM" required="" >
                        <button type="submit" class="selectday">Book Dinner</button>
                    </form>                 -->
                </div>
                <div class="col-md-3">
                </div>
            </div>


                        <div class="col-lg-12 text-center"><!--
                <a data-toggle="modal" data-target="#loginModal" class="modal page-scroll goarea" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136;
border-radius: 3px;
text-transform: uppercase; color: #fff;
background-color: #fed136; display:none;">Next</a>
-->
                <a href="http://foodgem.com/site/send.php?send=send&" data-target="#loginModal" class="pagesend page-scroll gosubmit" id="fill-spreadsheet" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136;
border-radius: 3px;
text-transform: uppercase; color: #fff;
background-color: #fed136;" >Next</a>
            </div>
        </div>
    </section>

    <section id="portfolio" class="bg-light-gray thankyou" style="padding: 50px 0 50px 0; display: none;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Thank you</h2>
                    <h3 class="section-subheading text-muted" style="margin: 5px 0 30px 0;">We'll be emailing you soon to confirm your sign-up. Feel free to contact us too at food@foodgem.com.  </h3>
                </div>
            </div>
        </div>
    </section>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding: 200px 0 0 0;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Thanks!</h4>
            </div>

            <div class="modal-body" >
                <!-- The form is placed inside the body of modal -->
                <form id="loginForm" method="post" class="form-horizontal">
                    Thank you for signing up, our team will be reaching out within the next 24 hours!
                    <br/>
                </form>
            </div>
        </div>
    </div>
</div>


<script> // include jquery and jquery.payment before here

 $( "#applycoupon" ).click(function() {
   $(".normal").hide();
   $(".discount").show();
 });
 var myData;
 function update_address()
 {
 	var address_first_name = $( "#address_first_name" ).val();
    var address_last_name = $( "#address_last_name" ).val();
    var address_street_address = $( "#address_street_address" ).val();
    var address_suite = $( "#address_suite" ).val();
    var address_city = $( "#address_city" ).val();
    var address_state = $( "#address_state" ).val();
    var address_zip = $( "#address_zip" ).val();
    var address_phone = $( "#address_phone" ).val();
    var address_email = $( "#address_email" ).val();    
    myData = { "address[first_name]": address_first_name, "address[last_name]": address_last_name, "address[street_address]": address_street_address,
    			   "address[suite]": address_suite, "address[city]": address_city, "address[state]": address_state,
    			   "address[zip]": address_zip, "address[phone]": address_phone, "address[email]": address_email};  
    
 }
 $( "#buynow" ).click(function() {   
 	update_address();
 	jQuery.ajax({
		type: "POST", // HTTP method POST or GET
		url: "./update_area", //Where to make Ajax calls
		data:myData, //Form variables
		success:function(response)
		{	$( "#paypal15" ).click();	},
		error:function (xhr, ajaxOptions, thrownError)
		{  alert("ERROR:-"+thrownError);	}
	});
  //$( "#paypal15" ).click();
 });
 $( "#buypaypalbetatrial" ).click(function() {
	 update_address();	
 	jQuery.ajax({
		type: "POST", // HTTP method POST or GET
		url: "./update_area", //Where to make Ajax calls
		data:myData, //Form variables
		success:function(response)
		{	$( "#paypal10trial" ).click();	},
		error:function (xhr, ajaxOptions, thrownError)
		{  alert("ERROR:-"+thrownError);	}
	});
//  $( "#paypal10trial" ).click();
 });

 $( "#creditcardclick" ).click(function() {
  alert('We are currently switching credit card systems. Please use paypal');
 });
$(function() {
  
  var validateDetails = function() {
    // set variables for the expiry date validation, cvc validation and expiry date 'splitter'
    var expiry = $('.cc-exp').payment('cardExpiryVal');
    var validateExpiry = $.payment.validateCardExpiry(expiry["month"], expiry["year"]);
    var validateCVC = $.payment.validateCardCVC($('.cc-cvc').val());
    // if statement on whether the card’s expiry is valid or not
    if (validateExpiry) {
      // if the expiry is valid add the identified class
      $('.cc-exp').addClass('identified');
    } else {
      // remove again if the expiry becomes invalid
      $('.cc-exp').removeClass('identified');
    }
    // if statement on whether the card’s cvc is valid or not
    if (validateCVC) {
      // if the cvc is valid add the identified class
      $('.cc-cvc').addClass('identified');
    } else {
      // remove again if the cvc becomes invalid
      $('.cc-cvc').removeClass('identified');
    }
  }
  // this runs the above function every time stuff is entered into the card inputs
  $('.paymentInput').bind('change paste keyup', function() {
    validateDetails();
  });
  
});
</script>